
.cursor{
    background-image: url("../img/dents_haut.png ");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    width: 3rem;
    height: 1rem;
    transform: translate(-50%,-50%);
    pointer-events: none; 
    border-radius: 5%; 
}
.cursor_back{
    background-image: url("../img/dents_bas.png ");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    width: 3rem;
    height: 1rem;
    transform: translate(-50%,-50%);
    pointer-events: none; 
    border-radius: 5%; 
}