*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.cursor {
  background-image: url("../img/dents_haut.png ");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 5rem;
  height: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 5%;
}

.cursor_back {
  background-image: url("../img/dents_bas.png ");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 5rem;
  height: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 5%;
}

:root {
  --white: #fff;
  --bleu_light: #e8f0f2;
  --bleu_ciel: #a2dbfa;
  --bleu: #39a2db;
  --dark_bleu: #053742;
  --beige: #deedf0;
  --creme: #eed6c4;
  --creme_choco: #a17272;
  --chocolat: #6b4f4f;
  --chocolat2: #6f3108;
  --dark_choco: #483434;
  --bleu_gris: #6f8d9e;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bleu_light)), to(var(--bleu_ciel)));
  background: linear-gradient(var(--bleu_light), var(--bleu_ciel));
  font-family: "Montserrat", sans-serif;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

body header {
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  position: relative;
}

body header #logo {
  text-align: center;
  max-width: 40%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bleu);
}

body header h2 {
  color: var(--bleu);
  font-weight: 400;
  padding-bottom: 0.4rem;
}

body #settings {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
}

body #settings:hover {
  opacity: 0.6;
}

body #settings:active {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

body #menu_settings {
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 0px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
}

body #menu_settings #settings_table {
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: var(--chocolat2);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

body #menu_settings #settings_table td {
  padding: 10px;
}

body .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

body .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 0px;
  bottom: 0px;
  background-color: var(--chocolat);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body input:checked + .slider {
  background-color: #2196f3;
}

body input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

body input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
}

body .slider.round {
  border-radius: 34px;
}

body .slider.round:before {
  border-radius: 50%;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #score_and_counter {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #score_and_counter #score_box {
  max-height: 65%;
  position: relative;
}

body #score_and_counter #score_box img {
  position: absolute;
}

body #score_and_counter #score_box #star_1 {
  height: 25px;
  width: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  left: 20px;
}

body #score_and_counter #score_box #star_2 {
  height: 20px;
  width: auto;
  bottom: -10px;
  right: 20px;
}

body #score_and_counter #score_box #score {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--chocolat2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem;
  min-width: 260px;
  margin: 0 auto;
  border: 2px solid var(--bleu_ciel);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

body #clicks_timer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 260px;
}

body #clicks_timer #clicks_seconde {
  font-size: 14px;
  text-align: left;
}

body #clicks_timer #timer_bonus {
  font-size: 14px;
  text-align: right;
}

body #cookie_holder {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 90%;
  width: 90%;
}

body #cookie_holder #cookieClicker {
  width: 70%;
  height: auto;
  padding: 0 20px;
}

body #cookie_holder #cookie_holder {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 90%;
  width: 90%;
}

body #cookie_holder #cookie_holder #cookieClicker {
  width: 70%;
  height: auto;
  padding: 0 20px;
}

body #buttons_holder {
  max-height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #buttons_holder .bouton {
  color: var(--beige);
  margin: 0.2rem;
  padding: 0.6rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  width: 120px;
  position: relative;
}

body #buttons_holder .x_fois {
  position: absolute;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  text-align: center;
  padding: auto;
  top: -10px;
  left: 30px;
  height: 20px;
  width: 80px;
  font-weight: 700;
  font-size: 12px;
  background-color: white;
  color: var(--dark_bleu);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #multiplier,
body #auto-clicker,
body #bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #multiplier:hover,
body #auto-clicker:hover,
body #bonus:hover {
  opacity: 0.8;
}

body #multiplier:focus,
body #auto-clicker:focus,
body #bonus:focus {
  opacity: 0.8;
}

body #multiplier:disabled,
body #auto-clicker:disabled,
body #bonus:disabled {
  opacity: 0.4;
}

body #multiplier img,
body #auto-clicker img,
body #bonus img {
  padding-left: 2px;
  padding-right: 10px;
  height: 22px;
  text-align: left;
}

body #multiplier span,
body #auto-clicker span,
body #bonus span {
  text-align: left;
  margin-right: 5px;
}

body #multiplier {
  background-color: var(--dark_choco);
}

body #auto-clicker {
  background-color: var(--dark_bleu);
}

body #bonus {
  background-color: var(--chocolat2);
}

body footer {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  border-top: 1px solid var(--bleu);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer p {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */